<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendic_zopim>
            <general>
                <enable>0</enable>
                <delay>1200</delay>
            </general>
            <cookie>
                <enable>0</enable>
                <name>allowedAllCookies</name>
            </cookie>
        </vendic_zopim>
    </default>
</config>